<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Blog website</title>
   </head>
<body>
    
    <header class="p-3 bg-dark text-white">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-start">
            <div id="brand-name">
              <div class="navbar-brand me-xl-5 justify-content-sm-start"><strong>
                  <a href="/" class="nav-link">
                    Blog Website
                  </a>
              </strong></div>
            </div>
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0 dist">
              <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li class="dropdown">
                <a class="nav-link px-2 text-white dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
              <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>
            <div class="drop-alie">
              <div class="text-end  justify-content-end dist2">
                  <!-- check if logged in to display right information -->
                  <%if(authenticated === true){%>
                      <div class="dropdown">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                          <span style="color: whitesmoke; margin-right: 8px;">Howdy User</span>
                          <img src="images/1df831b07d42a18a8b1e18900.jpg" alt="profile" width="50" height="50" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                          <li><a class="dropdown-item" href="/compose">New Post...</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="/user/<%=userId%>">Profile</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                      </div>
                  <%} else {%>
                      <a href="/login">
                      <button type="button" class="btn btn-sm btn-outline-light me-2">Login</button>
                  </a>
                <a href="/register">
                  <button type="button" class="btn btn-sm btn-warning">Sign-up</button>
                </a>
                  <%}%>
                
              </div>
            </div>
          </div>
        </div>
      </header>
    
      <br>