a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    color:inherit;
}
.title-marg{
   line-height: 1.5;
}
.articles-alie button{
  border: none;
}
.admin-btn-top{
  border: none;
}
.articles-alie{
  margin-top: 1rem;
}
@media only screen and (max-width: 768px) {
  .image-home{
    width: 300px;
    height: 270px;
  }
  .row{
    width: 80%;
    margin: 0 auto 0 auto;
  }
  .title-marg{
    font-size: 25px;
  }
  .drop-alie{
    width: 20%;
    margin: 0 auto 0 auto;
  }
  #brand-name{
    font-size: 2rem;
    width: 50%;
    margin: 0 auto 0 auto;
  }
  .newsletter{
    width: 70%;
    margin: 0 auto 0 auto;
  }
  .article-img{
    width: 23rem;
    height: 15rem;
  }
  .article-heading-ali{
    width: 86%;
    margin: 15px auto 15px auto;
  }
  .article-content-ali{
    width: 80%;
    margin: 15px auto 15px auto;
  }
  .comment-container{
    background-color: rgb(48, 44, 44);
    color: whitesmoke;
    margin: 15px 15px 0 15px;
    padding: 1rem;
  }
  .comment-form textarea{
    display: block;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
  }
  .comment-form button{
    display: block;
    margin: 15px;
    border: none;
    padding: 1rem;
  }
  .reply-form textarea{
    display: block;
    margin: 15px;
  }
  .reply-form button{
    display: block;
    margin: 15px;
    border: none;
  }
  .reply-open{
    display: block;
    margin-top: 15px;
    border: none;
  }
  /* .reply-form{
    display: none;
  } */
  .login-form{
    display: block;
    width: 80%;
    margin: 5% auto;
    background-color: #F0F0F0;
    border-radius: 3rem;
    border: 3px solid #212529;
    padding: 3rem;
  }
  .login-form input{
    display: block;
    margin: 15px;
    border: none;
    height: 2.5rem;
    width: 11rem;
  }
  .login-form button{
    display: block;
    margin: 15px;
    border: none;
    padding: 0.5rem;
    background-color: #212529;
    color: white;
  }
  .login-form label{
    margin-left: 15px;
  }
  #login-tag{
    margin: 15px;
  }
}




@media only screen and (min-width: 768px) {
  .image-home{
    width: 250px;
    height:200px;
  }   
  .newsletter{
    width: 30%;
    margin: 0 auto 0 auto;
  }
  .newsletter input{
    width: 20rem;
  }
  .article-img{
    width: 50rem;
    height: 30rem;
  }
  .article-heading-ali{
    width: 64%;
    margin: 15px auto 15px auto;
  }
  .article-content-ali{
    width: 80%;
    margin: 15px auto 15px auto;
  }
  .comment-container{
    background-color: rgb(48, 44, 44);
    color: whitesmoke;
    margin: 15px 66% 0 15px;
    padding: 1rem;
  }
  .comment-form textarea{
    display: block;
    margin: 15px;
    padding: 15px;
    border: 2px solid black;
  }
  .comment-form button{
    display: block;
    margin: 15px;
    border: none;
    padding: 1rem;
  }
  .reply-form textarea{
    display: block;
    margin: 15px;
  }
  .reply-form button{
    display: block;
    margin: 15px;
    border: none;
  }
  .reply-open{
    display: block;
    margin-top: 15px;
    border: none;
  }
  /* .reply-form{
    display: none;
  } */
  .login-form{
    display: block;
    width: 50%;
    margin: 5% auto;
    background-color: #F0F0F0;
    border: 120px solid #212529;
    padding: 1.5rem;
  }
  .login-form input{
    display: block;
    margin: 15px;
    border: none;
    height: 2.5rem;
    width: 20rem;
  }
  .login-form button{
    display: block;
    margin: 15px;
    border: none;
    padding: 0.5rem;
    background-color: #212529;
    color: white;
  }
  .login-form label{
    margin-left: 15px;
  }
  #login-tag{
    margin: 15px;
  }
}
