a{
    text-decoration: none;
    color:inherit;
}
a:hover{
    color:inherit;
}
/* .posthover:hover{
    border: 1px solid black;
} */
.title-marg{
   line-height: 1.5;
}
.img-thumbnail{
    height: 500px;
    width: 1000px;
}

  @media only screen and (max-width: 600px) {
        .image-home{
            width: 110px;
        height: 90px;
            float: right;
        }
    
        .text-muted{
            font-size: 8px;
        }   
        .lead{
            font-size: 10px;
        }
        .dist{
            display:none;
        }
        .dist2{
            margin-left: 150px;
        }
        .home-content{
         /* float: right; */
        }
    }

    @media only screen and (min-width: 600px) {
        .text-muted{
            font-size: 12px;
        }  
        .image-home{
             width: 250px;
        height:200px;
        }   
        .home-content{
            width: 70%;
        }
    }
